body {
    background: #000;
}

.navbar {
    background-color: #000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#personalPgBtn{
    max-width: 50px;
    max-height: 50px;
    margin: auto;
    display: block;
}

#mySC{
    font: Ruda;
}
