* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruda', 'Poppins', sans-serif;
}

body {
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

h1 {
    font-size: 50px;
    color: #EDC03C;
    text-align: center;
    font-style: initial;
}

.form {
    position: relative;
    width: 600px;
    padding: 0px 0px 0px;
    background: 131419;
    text-align: center;
    border-radius: 10px;
    z-index: 999;
    position: fixed;
}

.form h2 {
    color: #c7c7c7;
}

.form .input {
    text-align: center;
    margin-top: 40px;
}

.form .input .inputBox {
    margin-top: 20px;
}

.form .input .inputBox label {
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
}

.form .input .inputBox input {
    width: 100%;
    height: 50px;
    background: #000;
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    color: #fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input[type="button"] {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input[type="button"]:active {
    margin-top: 20px;
    color: #006c9c;
    text-align: center;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input::placeholder {
    color: #555;
    font-size: 18px;
}

.forget {
    margin-top: 30px;
    color: #555;
}

.forget a {
    color: #ff0047;
}

#logoBtn {
    color: white;
    position: fixed;
    right: 20px;
    z-index: 999;
    top: 20px;
    color: #EDC03C;
}

#personalBtn {
    left: 30px;
    color: white;
    position: fixed;
    z-index: 999;
    top: 20px;
}

#addBtn {
    right: 25px;
    color: white;
    position: fixed;
    z-index: 999;
    top: 70px;
}

#backBtn {
    left: 30px;
    color: white;
    position: fixed;
    z-index: 999;
    top: 30px;
}

#author {
    color: white;
}

#followUser {
    padding-top: 6px;
    color: white;
}

#authorHolder {
    left: 45px;
    color: white;
    position: fixed;
    z-index: 999;
    top: 60px;
}

#starHolder {
    text-align: center;
    justify-content: center;
}

#commentContainer {
    color: white;
    text-align: left;
    overflow: auto;
    height: 30vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131419;
}

p {
    margin: 0;
    padding: 0;
    color: #fff;
}

ul {
    position: relative;
    display: flex;
    text-align: center;
    margin: 10px 0;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    display: block;
    width: 200px;
    height: 50px;
    background: #18191f;
    line-height: 55px;
    text-align: center;
    margin: 0 10px;
    border-radius: 15px;
    box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05), 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

ul li a .fas {
    font-size: 22px;
    color: #555;
}

ul li a:hover .fas {
    color: #555;
}

ul li:nth-child(1) a:hover .fas {
    color: #4cd137;
}

ul li:nth-child(2) a:hover .fas {
    color: #1c7dd5;
}

ul li:nth-child(3) a:hover .fas {
    color: #F2E822;
}

#username {
    text-align: center;
}

#starDes {
    text-align: left;
    color: white;
    line-height: 40px;
}

#starPic {
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 1;
    filter: blur(10px);
    position: fixed;
}

#caption {
    text-align: center;
}

@media (min-width:200px) {
    ul li a {
        display: block;
        width: 120px;
        height: 50px;
        background: #18191f;
        line-height: 55px;
        text-align: center;
        margin: 0 10px;
        border-radius: 15px;
        box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05), 3px 3px 3px rgba(0, 0, 0, 0.2);
        transition: all .2s ease-in-out;
    }

    ul li a .fas {
        font-size: 0.9em;
        color: #555;
        padding-bottom: 30px;
    }

    #starPic {
        height: 300px;
        width: 300px;
    }

    #actionBtns {
        text-align: center;
        justify-content: center;
    }

    #username {
        font-size: 2em;
    }

    #starDes {
        font-size: 1.3em;
    }

    #caption {
        padding-bottom: 0;
    }

    .form {
        width: 400px;
    }
}

@media (min-width:880px) {
    ul li a {
        display: block;
        width: 130px;
        height: 50px;
        background: #18191f;
        line-height: 55px;
        text-align: center;
        margin: 0 10px;
        border-radius: 15px;
        box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05), 3px 3px 3px rgba(0, 0, 0, 0.2);
        transition: all .2s ease-in-out;
        font-size: 0.8em;
    }

    ul li a .fas {
        font-size: 1.2em;
        color: #555;
    }

    #starPic {
        height: 400px;
        width: 400px;
    }

    #actionBtns {
        text-align: center;
        justify-content: center;
    }

    #starDes {
        font-size: 1.5em;
    }

    #caption {
        padding-bottom: 1vh;
    }

    .form {
        width: 600px;
    }
}

@media (min-width:1130px) {
    ul li a {
        display: block;
        width: 170px;
        height: 50px;
        background: #18191f;
        line-height: 55px;
        text-align: center;
        margin: 0 10px;
        border-radius: 15px;
        box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05), 3px 3px 3px rgba(0, 0, 0, 0.2);
        transition: all .2s ease-in-out;
    }

    ul li a .fas {
        font-size: 1.5em;
        color: #555;
    }

    #starPic {
        height: 480px;
        width: 480px;
    }

    #actionBtns {
        text-align: center;
        justify-content: center;
    }

    #username {
        font-size: 4em;
        margin-top: 2vh;
    }

    #starDes {
        padding-top: 20px;
        font-size: 1.5em;
    }

    #caption {
        padding-bottom: 1vh;
    }

    .form {
        width: 800px;
    }
}